<div class="calloff_plugin">
    <div>
        <p>Текст, выводимый из поля "Описание". Опишите в нем все прелести отказа от звонка, предложите связаться через мессенджер.</p>
    </div>

    <div data-radio-spoiler-content="da-form-{$storefrontId}" data-radio-spoiler-value="radio">
        <ul>
            <li>
                <input type="radio" name="calloff_option" id="calloff_yes_option" value="yes">
                <label for="calloff_yes_option">Вариант <strong>«Перезвонить»</strong></label>
            </li>
            <li>
                <input type="radio" name="calloff_option" id="calloff_no_option" value="no">
                <label for="calloff_no_option">Вариант <strong>«Не перезванивать»</strong></label>
            </li>
        </ul>
    </div>

    <div data-radio-spoiler-content="da-form-{$storefrontId}" data-radio-spoiler-value="checkbox">
        <input type="checkbox" name="calloff_option" id="calloff_option">
        <label for="calloff_option">Вариант <strong>«Перезвонить»</strong></label>
    </div>

</div>