<div class="calloff_plugin">
    <div>
        <p>Вы можете отказаться от обязательного звонка консультанта интернет-магазина, а Ваши заказы будут сразу же собираться и отправляться. Это значит, что Вы сможете быстрее получить свой заказ.</p>

        <p>Мы будем Вам перезванивать если:<br><br>- Для оформления заказа нужно уточнение контактной информации или наличия товара<br><br>- Вы отметите «Да, перезвонить для подтверждения заказа»</p>
    </div>
    
    <ul>
        <li>
            <input type="radio" name="calloff_option" id="calloff_yes_option" value="yes">
            <label for="calloff_yes_option"><strong>Да.</strong> Перезвоните мне для подтверждения заказа.</label>
        </li>
        <li>
            <input type="radio" name="calloff_option" id="calloff_no_option" value="no">
            <label for="calloff_no_option"><strong>Нет.</strong> Можете мне не перезванивать, а сразу собирать и отправлять заказ.</label>
        </li>
    </ul>

    <input type="checkbox" name="calloff_option" id="calloff_option">
    <label for="calloff_option"><strong>Да.</strong> Перезвоните мне для подтверждения заказа.</label>
    
</div>